{% extends 'base.html' %}

{% block title %}Profile | GreenLoop{% endblock title %}

{% block content %}

<section class="profile-page">
    <div class="profile-card">

        <h1>Profile</h1>

        <div class="profile-info">
            <p>
                <strong>Username</strong>
                <span>{{ user.username }}</span>
            </p>

            <p>
                <strong>Email</strong>
                <span>{{ user.email }}</span>
            </p>

            {% if profile %}
                <p>
                    <strong>Role</strong>
                    <span>{{ profile.get_role_display }}</span>
                </p>
            {% endif %}
        </div>

    </div>
</section>

{% endblock content %}